<a href="https://colab.research.google.com/github/Codechickdev/Group_ML/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression

This Notebook belongs to [Group ML](https://github.com/Codechickdev/Group_ML) Repo, where my practicing notebooks are uploaded.


## ToDo

- [ ] Prepare Notebook
    - [ ] Install Packages
    - [ ] Import Packages
    - [ ] Download Dataset
    - [ ] Load Dataset
- [ ] Exploratory Data Analysis
- [ ] Data Preprocessing
    - [ ] Splitting Dataset
    - [ ] Imputing Null Values
    - [ ] Scaling Numerical Values
    - [ ] Encoding Categorical Features ( Not Required )
- [ ] Training Model
- [ ] Validation
- [ ] Hypertuning
- [ ] Evaluation
- [ ] Conclusion

# 1. Prepare Notebook

1.1 Install Packages

In [1]:
!pip install opendatasets --quiet

1.2 Import Packages

In [2]:
import os
import numpy as np
import pandas as pd
import opendatasets as od
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

1.3 Download Dataset

In [3]:
DATASET_URL = 'https://www.kaggle.com/datasets/dileep070/heart-disease-prediction-using-logistic-regression'

od.download(DATASET_URL)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: codechick
Your Kaggle Key: ··········
Downloading heart-disease-prediction-using-logistic-regression.zip to ./heart-disease-prediction-using-logistic-regression

100%|██████████| 58.4k/58.4k [00:00<00:00, 18.8MB/s]

1.4 Load Dataset

In [4]:
FILE_PATH = '/content/heart-disease-prediction-using-logistic-regression/framingham.csv'

df = pd.read_csv(FILE_PATH)
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0