<a href="https://colab.research.google.com/github/Codechickdev/Group_ML/blob/main/Notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NOTEBOOK - 1 LINEAR REGRESSION

### This Notebook belongs to the [Group ML](https://github.com/Codechickdev/Group_ML), Where I practice various `Machine Learning algorithms`. 

I will try to explain each and every step in this notebook. If you want more content Check My GitHub Repo

### Dataset Used
- []()

### Steps
- [x] Prepare Notebook
- [x] Download and Load Dataset
- [ ] Data Preprocessing
- [ ] Exploratory Analysis
- [ ] Training
- [ ] Validation
- [ ] Testing
- [ ] Conclusion
- [ ] Saving Dataset and Model

# 1. Prepare Notebook

First We will install neccessary python packages and prepare the notebook.

In [1]:
!pip install opendatasets sklearn pandas-profiling numpy plotly --quiet

We install neccessary packages, we will move to next step

# 2. Download and Load Dataset

Next we will download and loading dataset and changing it into `DataFrame`

**Note** - We are going to use *CSV* File

In [3]:
import opendatasets as od
od.download('https://www.kaggle.com/datasets/psycon/wind-turbine-energy-kw-generation-data')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: codechick
Your Kaggle Key: 路路路路路路路路路路
Downloading wind-turbine-energy-kw-generation-data.zip to ./wind-turbine-energy-kw-generation-data

100%|| 50.5M/50.5M [00:00<00:00, 66.4MB/s]

Now that we prepared our dataset, we load that into our pandas. But before that let's explore what we downloaded

In [7]:
import os
os.listdir('/content/wind-turbine-energy-kw-generation-data')

['sample_submission.csv', 'features.csv', 'power.csv', 'feature_units.csv']

In [10]:
paths = []
for dirname, _, filenames in os.walk('/content/wind-turbine-energy-kw-generation-data'):
    for filename in filenames:
        path = os.path.join(dirname, filename)
        paths.append(path)
paths

['/content/wind-turbine-energy-kw-generation-data/sample_submission.csv',
 '/content/wind-turbine-energy-kw-generation-data/features.csv',
 '/content/wind-turbine-energy-kw-generation-data/power.csv',
 '/content/wind-turbine-energy-kw-generation-data/feature_units.csv']

We have four csv files

In [8]:
import numpy as np
import pandas as pd
import plotly.express as px

In [11]:
power_df = pd.read_csv(paths[2])
power_df

                  Timestamp    Power(kW)
0       2019-01-01 00:00:00   705.876648
1       2019-01-01 00:10:00   884.711670
2       2019-01-01 00:20:00   982.875000
3       2019-01-01 00:30:00  1115.943359
4       2019-01-01 00:40:00  1263.841675
...                     ...          ...
136725  2021-08-14 23:10:00  2757.728271
136726  2021-08-14 23:20:00  2758.323242
136727  2021-08-14 23:30:00  2759.243408
136728  2021-08-14 23:40:00  2761.261719
136729  2021-08-14 23:50:00  2758.593262

[136730 rows x 2 columns]

In [13]:
features_df = pd.read_csv(paths[1])
features_df

,Timestamp,Gearbox_T1_High_Speed_Shaft_Temperature,Gearbox_T3_High_Speed_Shaft_Temperature,Gearbox_T1_Intermediate_Speed_Shaft_Temperature,Temperature Gearbox Bearing Hollow Shaft,Tower Acceleration Normal,Gearbox_Oil-2_Temperature,Tower Acceleration Lateral,Temperature Bearing_A,Temperature Trafo-3,...,Blade-1 Actual Value_Angle-A,Blade-2 Set Value_Degree,Pitch Demand Baseline_Degree,Blade-1 Set Value_Degree,Blade-3 Set Value_Degree,Moment Q Direction,Moment Q Filltered,Proxy Sensor_Degree-45,Turbine State,Proxy Sensor_Degree-315
0,2019-01-01 00:00:00,57.000000,59.000000,52.000000,56.158333,47.053776,57.000000,18.890772,35.000000,48.576668,...,0.055473,0.267122,0.000000,0.058617,-0.325738,37.867054,39.281124,5.732657,1.0,5.779913
1,2019-01-01 00:10:00,57.693333,59.485001,52.450001,57.000000,64.969742,57.413334,28.560265,35.233334,48.000000,...,0.055473,0.267122,0.000000,0.058617,-0.325738,-90.169106,-89.018669,5.813177,1.0,5.796757
2,2019-01-01 00:20:00,59.000000,60.756668,53.536667,57.775002,51.149670,58.728333,34.228813,36.000000,48.053333,...,0.055473,0.267122,0.000000,0.058617,-0.325738,-88.556343,-88.422020,5.786413,1.0,5.772958
3,2019-01-01 00:30:00,59.881668,61.563332,54.413334,58.683334,58.740929,59.518333,35.593220,36.000000,48.788334,...,0.055473,0.267122,0.000000,0.058617,-0.325738,-123.755341,-124.858444,5.758913,1.0,5.728393
4,2019-01-01 00:40:00,61.290001,62.586666,55.485001,59.623333,53.264774,60.665001,38.552731,36.000000,49.000000,...,0.053982,0.267612,0.000000,0.058703,-0.325443,-142.533325,-142.053543,5.724591,1.0,5.687730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154257,2021-12-14 23:10:00,65.811668,NaN,59.945000,62.808334,225.038239,65.300003,109.889709,61.000000,97.000000,...,NaN,15.820095,15.199166,15.235223,14.540556,-29.340843,-27.513502,5.746916,1.0,5.756082
154258,2021-12-14 23:20:00,68.586670,NaN,62.084999,65.413330,229.905838,67.871666,106.016670,61.116665,97.000000,...,NaN,16.504293,15.876278,15.917643,15.207320,-31.925669,-30.197918,5.749150,1.0,5.755406
154259,2021-12-14 23:30:00,63.746666,NaN,59.965000,64.051666,223.352631,64.461670,111.690208,61.293335,97.000000,...,NaN,15.331903,14.720088,14.768394,14.064686,-53.071564,-48.306511,5.751807,1.0,5.747936
154260,2021-12-14 23:40:00,66.643333,NaN,60.678333,63.421665,227.704514,66.081665,119.716499,60.786667,97.000000,...,NaN,16.481724,15.887610,15.945046,15.230121,-28.747763,-23.844364,5.747686,1.0,5.757787
154261,2021-12-14 23:50:00,65.593330,NaN,60.738335,64.731667,223.235413,65.891670,103.372475,60.395000,97.000000,...,NaN,16.198933,15.591414,15.635881,14.941538,-28.904552,-30.457935,5.753047,1.0,5.761520

Before we moving on to next step, We merge the dataset into one. So that it's easy to perform operations

In [18]:
power_df.shape, features_df.shape

((136730, 2), (154262, 77))

In [17]:
merged = pd.merge(features_df, power_df, how="left")
merged

,Timestamp,Gearbox_T1_High_Speed_Shaft_Temperature,Gearbox_T3_High_Speed_Shaft_Temperature,Gearbox_T1_Intermediate_Speed_Shaft_Temperature,Temperature Gearbox Bearing Hollow Shaft,Tower Acceleration Normal,Gearbox_Oil-2_Temperature,Tower Acceleration Lateral,Temperature Bearing_A,Temperature Trafo-3,...,Blade-2 Set Value_Degree,Pitch Demand Baseline_Degree,Blade-1 Set Value_Degree,Blade-3 Set Value_Degree,Moment Q Direction,Moment Q Filltered,Proxy Sensor_Degree-45,Turbine State,Proxy Sensor_Degree-315,Power(kW)
0,2019-01-01 00:00:00,57.000000,59.000000,52.000000,56.158333,47.053776,57.000000,18.890772,35.000000,48.576668,...,0.267122,0.000000,0.058617,-0.325738,37.867054,39.281124,5.732657,1.0,5.779913,705.876648
1,2019-01-01 00:10:00,57.693333,59.485001,52.450001,57.000000,64.969742,57.413334,28.560265,35.233334,48.000000,...,0.267122,0.000000,0.058617,-0.325738,-90.169106,-89.018669,5.813177,1.0,5.796757,884.711670
2,2019-01-01 00:20:00,59.000000,60.756668,53.536667,57.775002,51.149670,58.728333,34.228813,36.000000,48.053333,...,0.267122,0.000000,0.058617,-0.325738,-88.556343,-88.422020,5.786413,1.0,5.772958,982.875000
3,2019-01-01 00:30:00,59.881668,61.563332,54.413334,58.683334,58.740929,59.518333,35.593220,36.000000,48.788334,...,0.267122,0.000000,0.058617,-0.325738,-123.755341,-124.858444,5.758913,1.0,5.728393,1115.943359
4,2019-01-01 00:40:00,61.290001,62.586666,55.485001,59.623333,53.264774,60.665001,38.552731,36.000000,49.000000,...,0.267612,0.000000,0.058703,-0.325443,-142.533325,-142.053543,5.724591,1.0,5.687730,1263.841675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154257,2021-12-14 23:10:00,65.811668,NaN,59.945000,62.808334,225.038239,65.300003,109.889709,61.000000,97.000000,...,15.820095,15.199166,15.235223,14.540556,-29.340843,-27.513502,5.746916,1.0,5.756082,NaN
154258,2021-12-14 23:20:00,68.586670,NaN,62.084999,65.413330,229.905838,67.871666,106.016670,61.116665,97.000000,...,16.504293,15.876278,15.917643,15.207320,-31.925669,-30.197918,5.749150,1.0,5.755406,NaN
154259,2021-12-14 23:30:00,63.746666,NaN,59.965000,64.051666,223.352631,64.461670,111.690208,61.293335,97.000000,...,15.331903,14.720088,14.768394,14.064686,-53.071564,-48.306511,5.751807,1.0,5.747936,NaN
154260,2021-12-14 23:40:00,66.643333,NaN,60.678333,63.421665,227.704514,66.081665,119.716499,60.786667,97.000000,...,16.481724,15.887610,15.945046,15.230121,-28.747763,-23.844364,5.747686,1.0,5.757787,NaN
154261,2021-12-14 23:50:00,65.593330,NaN,60.738335,64.731667,223.235413,65.891670,103.372475,60.395000,97.000000,...,16.198933,15.591414,15.635881,14.941538,-28.904552,-30.457935,5.753047,1.0,5.761520,NaN

We merged two files into one single file.

Other files we don't need to load, Because we just going to work only with these two files

# 3. Data Preprocessing

Before analysing and exploring the data, Let's proproces it with a little bit.

First we start by understanding the dataset.

In [19]:
merged.shape

(154262, 78)

In [21]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154262 entries, 0 to 154261
Data columns (total 78 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   Timestamp                                          154262 non-null  object
 1   Gearbox_T1_High_Speed_Shaft_Temperature            149913 non-null  float64
 2   Gearbox_T3_High_Speed_Shaft_Temperature            149744 non-null  float64
 3   Gearbox_T1_Intermediate_Speed_Shaft_Temperature    150253 non-null  float64
 4   Temperature Gearbox Bearing Hollow Shaft           150530 non-null  float64
 5   Tower Acceleration Normal                          149904 non-null  float64
 6   Gearbox_Oil-2_Temperature                          149326 non-null  float64
 7   Tower Acceleration Lateral                         150070 non-null  float64
 8   Temperature Bearing_A                              150113 non-null  float64
 9   Temperature Trafo-3                                149504 non-null  float64
 10  Gearbox_T3_Intermediate_Speed_Shaft_Temperature    149936 non-null  float64
 11  Gearbox_Oil-1_Temperature                          150124 non-null  float64
 12  Gearbox_Oil_Temperature                            149086 non-null  float64
 13  Torque                                             150151 non-null  float64
 14  Converter Control Unit Reactive Power              149753 non-null  float64
 15  Temperature Trafo-2                                149983 non-null  float64
 16  Reactive Power                                     149873 non-null  float64
 17  Temperature Shaft Bearing-1                        149799 non-null  float64
 18  Gearbox_Distributor_Temperature                    150573 non-null  float64
 19  Moment D Filtered                                  149735 non-null  float64
 20  Moment D Direction                                 149031 non-null  float64
 21  N-set 1                                            149661 non-null  float64
 22  Operating State                                    150358 non-null  float64
 23  Power Factor                                       149285 non-null  float64
 24  Temperature Shaft Bearing-2                        150158 non-null  float64
 25  Temperature_Nacelle                                149606 non-null  float64
 26  Voltage A-N                                        149609 non-null  float64
 27  Temperature Axis Box-3                             150773 non-null  float64
 28  Voltage C-N                                        150211 non-null  float64
 29  Temperature Axis Box-2                             149701 non-null  float64
 30  Temperature Axis Box-1                             149997 non-null  float64
 31  Voltage B-N                                        150408 non-null  float64
 32  Nacelle Position_Degree                            149410 non-null  float64
 33  Converter Control Unit Voltage                     149615 non-null  float64
 34  Temperature Battery Box-3                          150404 non-null  float64
 35  Temperature Battery Box-2                          149707 non-null  float64
 36  Temperature Battery Box-1                          150399 non-null  float64
 37  Hydraulic Prepressure                              149865 non-null  float64
 38  Angle Rotor Position                               149463 non-null  float64
 39  Temperature Tower Base                             150535 non-null  float64
 40  Pitch Offset-2 Asymmetric Load Controller          149823 non-null  float64
 41  Pitch Offset Tower Feedback                        149350 non-null  float64
 42  Line Frequency                                     150383 non-null  float64
 43  Internal Power Limit                               150080 non-null  float64
 44  Circuit Breaker cut-ins                            150670 non-null  float64
 45  Particle Counter                                   149612 non-null  float64
 46  Tower Accelaration Normal Raw                      149532 non-null  float64
 47  Torque Offset Tower Feedback                       149977 non-null  float64
 48  External Power Limit                               149826 non-null  float64
 49  Blade-2 Actual Value_Angle-B                       149967 non-null  float64
 50  Blade-1 Actual Value_Angle-B                       149922 non-null  float64
 51  Blade-3 Actual Value_Angle-B                       149690 non-null  float64
 52  Temperature Heat Exchanger Converter Control Unit  149076 non-null  float64
 53  Tower Accelaration Lateral Raw                     149828 non-null  float64
 54  Temperature Ambient                                150172 non-null  float64
 55  Nacelle Revolution                                 149772 non-null  float64
 56  Pitch Offset-1 Asymmetric Load Controller          149239 non-null  float64
 57  Tower Deflection                                   149662 non-null  float64
 58  Pitch Offset-3 Asymmetric Load Controller          149729 non-null  float64
 59  Wind Deviation 1 seconds                           149830 non-null  float64
 60  Wind Deviation 10 seconds                          149130 non-null  float64
 61  Proxy Sensor_Degree-135                            148925 non-null  float64
 62  State and Fault                                    150238 non-null  float64
 63  Proxy Sensor_Degree-225                            149432 non-null  float64
 64  Blade-3 Actual Value_Angle-A                       149439 non-null  float64
 65  Scope CH 4                                         149786 non-null  float64
 66  Blade-2 Actual Value_Angle-A                       150291 non-null  float64
 67  Blade-1 Actual Value_Angle-A                       149468 non-null  float64
 68  Blade-2 Set Value_Degree                           149831 non-null  float64
 69  Pitch Demand Baseline_Degree                       149074 non-null  float64
 70  Blade-1 Set Value_Degree                           148756 non-null  float64
 71  Blade-3 Set Value_Degree                           149440 non-null  float64
 72  Moment Q Direction                                 149414 non-null  float64
 73  Moment Q Filltered                                 149102 non-null  float64
 74  Proxy Sensor_Degree-45                             150190 non-null  float64
 75  Turbine State                                      150054 non-null  float64
 76  Proxy Sensor_Degree-315                            149438 non-null  float64
 77  Power(kW)                                          136730 non-null  float64
dtypes: float64(77), object(1)
memory usage: 93.0+ MB

So we see a lot of `NULL` values in the dataset.

In [23]:
merged.describe()

,Gearbox_T1_High_Speed_Shaft_Temperature,Gearbox_T3_High_Speed_Shaft_Temperature,Gearbox_T1_Intermediate_Speed_Shaft_Temperature,Temperature Gearbox Bearing Hollow Shaft,Tower Acceleration Normal,Gearbox_Oil-2_Temperature,Tower Acceleration Lateral,Temperature Bearing_A,Temperature Trafo-3,Gearbox_T3_Intermediate_Speed_Shaft_Temperature,...,Blade-2 Set Value_Degree,Pitch Demand Baseline_Degree,Blade-1 Set Value_Degree,Blade-3 Set Value_Degree,Moment Q Direction,Moment Q Filltered,Proxy Sensor_Degree-45,Turbine State,Proxy Sensor_Degree-315,Power(kW)
count,149913.000000,149744.000000,150253.000000,150530.000000,149904.000000,149326.000000,150070.000000,150113.000000,149504.000000,149936.000000,...,149831.000000,149074.000000,148756.000000,149440.000000,149414.000000,149102.000000,150190.000000,150054.000000,149438.000000,136730.000000
mean,912.592138,891.237110,980.835404,946.431211,931.591076,924.198203,935.309705,865.808961,916.450100,907.955784,...,882.596231,934.692157,873.612534,845.041165,884.318063,824.705343,817.361875,885.695176,869.645614,1138.556350
std,9227.793931,9104.057832,9602.886837,9405.155390,9287.608022,9288.297855,9441.954566,9047.402573,9203.939022,9202.203836,...,9280.006707,9554.834159,9234.898677,9084.583365,9411.101210,9093.261889,8971.885225,9362.114726,9253.806654,1078.419992
min,-273.000000,-273.000000,-273.000000,16.000000,0.000000,-273.000000,0.000000,-273.000000,13.845000,-273.000000,...,-0.128618,0.000000,-0.766988,-1.176853,-1287.386719,-1286.707886,-0.238800,1.000000,-0.238800,-48.596668
25%,44.041668,46.000000,41.483334,47.000000,24.448917,46.000000,17.658192,30.000000,52.000000,47.176666,...,0.652857,0.000000,0.078384,-0.693729,-35.142965,-35.052853,5.725612,1.000000,5.737907,80.394167
50%,57.000000,58.825834,52.513332,55.000000,50.367348,56.000000,33.418079,39.000000,57.000000,55.000000,...,1.245257,0.681229,0.830161,0.043642,-9.803967,-9.622181,5.774975,1.000000,5.791404,778.220825
75%,63.033333,65.122238,58.493332,61.496666,84.704208,62.918335,48.986820,49.705002,69.628334,61.522084,...,11.465339,10.788655,10.965823,10.285146,21.727112,21.690431,5.839118,1.000000,5.877137,2310.443237
max,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,...,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,2779.423340

So now we have a deep understanding that our dataset's values ranges from lowest possible to highest possible.

Now we can start our pre-processing work

In [27]:
merged['Timestamp']

0         2019-01-01 00:00:00
1         2019-01-01 00:10:00
2         2019-01-01 00:20:00
3         2019-01-01 00:30:00
4         2019-01-01 00:40:00
                 ...
154257    2021-12-14 23:10:00
154258    2021-12-14 23:20:00
154259    2021-12-14 23:30:00
154260    2021-12-14 23:40:00
154261    2021-12-14 23:50:00
Name: Timestamp, Length: 154262, dtype: object

In [30]:
merged.Timestamp = pd.to_datetime(merged['Timestamp'])
merged.Timestamp

0        2019-01-01 00:00:00
1        2019-01-01 00:10:00
2        2019-01-01 00:20:00
3        2019-01-01 00:30:00
4        2019-01-01 00:40:00
                 ...
154257   2021-12-14 23:10:00
154258   2021-12-14 23:20:00
154259   2021-12-14 23:30:00
154260   2021-12-14 23:40:00
154261   2021-12-14 23:50:00
Name: Timestamp, Length: 154262, dtype: datetime64[ns]

We began by changing the timestamp from object to pandas datetime series. This makes a lot easier for model to train

In [31]:
merged.head(5)

,Timestamp,Gearbox_T1_High_Speed_Shaft_Temperature,Gearbox_T3_High_Speed_Shaft_Temperature,Gearbox_T1_Intermediate_Speed_Shaft_Temperature,Temperature Gearbox Bearing Hollow Shaft,Tower Acceleration Normal,Gearbox_Oil-2_Temperature,Tower Acceleration Lateral,Temperature Bearing_A,Temperature Trafo-3,...,Blade-2 Set Value_Degree,Pitch Demand Baseline_Degree,Blade-1 Set Value_Degree,Blade-3 Set Value_Degree,Moment Q Direction,Moment Q Filltered,Proxy Sensor_Degree-45,Turbine State,Proxy Sensor_Degree-315,Power(kW)
0,2019-01-01 00:00:00,57.000000,59.000000,52.000000,56.158333,47.053776,57.000000,18.890772,35.000000,48.576668,...,0.267122,0.0,0.058617,-0.325738,37.867054,39.281124,5.732657,1.0,5.779913,705.876648
1,2019-01-01 00:10:00,57.693333,59.485001,52.450001,57.000000,64.969742,57.413334,28.560265,35.233334,48.000000,...,0.267122,0.0,0.058617,-0.325738,-90.169106,-89.018669,5.813177,1.0,5.796757,884.711670
2,2019-01-01 00:20:00,59.000000,60.756668,53.536667,57.775002,51.149670,58.728333,34.228813,36.000000,48.053333,...,0.267122,0.0,0.058617,-0.325738,-88.556343,-88.422020,5.786413,1.0,5.772958,982.875000
3,2019-01-01 00:30:00,59.881668,61.563332,54.413334,58.683334,58.740929,59.518333,35.593220,36.000000,48.788334,...,0.267122,0.0,0.058617,-0.325738,-123.755341,-124.858444,5.758913,1.0,5.728393,1115.943359
4,2019-01-01 00:40:00,61.290001,62.586666,55.485001,59.623333,53.264774,60.665001,38.552731,36.000000,49.000000,...,0.267612,0.0,0.058703,-0.325443,-142.533325,-142.053543,5.724591,1.0,5.687730,1263.841675

We have alot of `NULL` values let's finish that. But first things first. Let's split the dataset for training and validation and also for testing

In [36]:
from sklearn.model_selection import train_test_split

train_val_df, val_df = train_test_split(merged, test_size=0.25, random_state=42)
train_df, test_df = train_test_split(train_val_df, test_size=0.25, random_state=42)

In [37]:
train_df.shape, val_df.shape, test_df.shape

((86772, 78), (38566, 78), (28924, 78))

We split the dataset for our model enhancement. Next step is to identify the input and output

In [47]:
inputs = ['Gearbox_T1_High_Speed_Shaft_Temperature',
       'Gearbox_T3_High_Speed_Shaft_Temperature',
       'Gearbox_T1_Intermediate_Speed_Shaft_Temperature',
       'Temperature Gearbox Bearing Hollow Shaft', 'Tower Acceleration Normal',
       'Gearbox_Oil-2_Temperature', 'Tower Acceleration Lateral',
       'Temperature Bearing_A', 'Temperature Trafo-3',
       'Gearbox_T3_Intermediate_Speed_Shaft_Temperature',
       'Gearbox_Oil-1_Temperature', 'Gearbox_Oil_Temperature', 'Torque',
       'Converter Control Unit Reactive Power', 'Temperature Trafo-2',
       'Reactive Power', 'Temperature Shaft Bearing-1',
       'Gearbox_Distributor_Temperature', 'Moment D Filtered',
       'Moment D Direction', 'N-set 1', 'Operating State', 'Power Factor',
       'Temperature Shaft Bearing-2', 'Temperature_Nacelle', 'Voltage A-N',
       'Temperature Axis Box-3', 'Voltage C-N', 'Temperature Axis Box-2',
       'Temperature Axis Box-1', 'Voltage B-N', 'Nacelle Position_Degree',
       'Converter Control Unit Voltage', 'Temperature Battery Box-3',
       'Temperature Battery Box-2', 'Temperature Battery Box-1',
       'Hydraulic Prepressure', 'Angle Rotor Position',
       'Temperature Tower Base', 'Pitch Offset-2 Asymmetric Load Controller',
       'Pitch Offset Tower Feedback', 'Line Frequency', 'Internal Power Limit',
       'Circuit Breaker cut-ins', 'Particle Counter',
       'Tower Accelaration Normal Raw', 'Torque Offset Tower Feedback',
       'External Power Limit', 'Blade-2 Actual Value_Angle-B',
       'Blade-1 Actual Value_Angle-B', 'Blade-3 Actual Value_Angle-B',
       'Temperature Heat Exchanger Converter Control Unit',
       'Tower Accelaration Lateral Raw', 'Temperature Ambient',
       'Nacelle Revolution', 'Pitch Offset-1 Asymmetric Load Controller',
       'Tower Deflection', 'Pitch Offset-3 Asymmetric Load Controller',
       'Wind Deviation 1 seconds', 'Wind Deviation 10 seconds',
       'Proxy Sensor_Degree-135', 'State and Fault', 'Proxy Sensor_Degree-225',
       'Blade-3 Actual Value_Angle-A', 'Scope CH 4',
       'Blade-2 Actual Value_Angle-A', 'Blade-1 Actual Value_Angle-A',
       'Blade-2 Set Value_Degree', 'Pitch Demand Baseline_Degree',
       'Blade-1 Set Value_Degree', 'Blade-3 Set Value_Degree',
       'Moment Q Direction', 'Moment Q Filltered', 'Proxy Sensor_Degree-45',
       'Turbine State', 'Proxy Sensor_Degree-315']

In [40]:
target = "Power(kW)"

In [44]:
merged.isna().sum().sort_values(ascending = False)

Power(kW)                          17532
Blade-1 Set Value_Degree            5506
Proxy Sensor_Degree-135             5337
Moment D Direction                  5231
Pitch Demand Baseline_Degree        5188
                                   ...
Temperature Tower Base              3727
Gearbox_Distributor_Temperature     3689
Circuit Breaker cut-ins             3592
Temperature Axis Box-3              3489
Timestamp                              0
Length: 78, dtype: int64

So our target has high percentage of `NULL` values

In [45]:
numeric_cols = train_df.select_dtypes(include = np.number).columns.tolist()

In [46]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean").fit(merged[numeric_cols])

In [48]:
train_df[numeric_cols] = imputer.transform(train_df[numeric_cols])
val_df[numeric_cols] = imputer.transform(val_df[numeric_cols])
test_df[numeric_cols] = imputer.transform(test_df[numeric_cols])

In [49]:
train_df.isna().sum()

Timestamp                                          0
Gearbox_T1_High_Speed_Shaft_Temperature            0
Gearbox_T3_High_Speed_Shaft_Temperature            0
Gearbox_T1_Intermediate_Speed_Shaft_Temperature    0
Temperature Gearbox Bearing Hollow Shaft           0
                                                  ..
Moment Q Filltered                                 0
Proxy Sensor_Degree-45                             0
Turbine State                                      0
Proxy Sensor_Degree-315                            0
Power(kW)                                          0
Length: 78, dtype: int64

In [50]:
val_df.isna().sum()

Timestamp                                          0
Gearbox_T1_High_Speed_Shaft_Temperature            0
Gearbox_T3_High_Speed_Shaft_Temperature            0
Gearbox_T1_Intermediate_Speed_Shaft_Temperature    0
Temperature Gearbox Bearing Hollow Shaft           0
                                                  ..
Moment Q Filltered                                 0
Proxy Sensor_Degree-45                             0
Turbine State                                      0
Proxy Sensor_Degree-315                            0
Power(kW)                                          0
Length: 78, dtype: int64

In [51]:
test_df.isna().sum()

Timestamp                                          0
Gearbox_T1_High_Speed_Shaft_Temperature            0
Gearbox_T3_High_Speed_Shaft_Temperature            0
Gearbox_T1_Intermediate_Speed_Shaft_Temperature    0
Temperature Gearbox Bearing Hollow Shaft           0
                                                  ..
Moment Q Filltered                                 0
Proxy Sensor_Degree-45                             0
Turbine State                                      0
Proxy Sensor_Degree-315                            0
Power(kW)                                          0
Length: 78, dtype: int64

Now that we don't have any `NULL` values. Let's start our next step

In [52]:
X_train, X_test = train_df[inputs], train_df[target]
Y_train, Y_test = val_df[inputs], val_df[target]
Z_train, Z_test = test_df[inputs], test_df[target]